displayErrorDetails: true
twig_debug: true
locale: sv_SE.utf8
google_api_key: <google api key>
leagues:
    2018:
        1:
            name: <name>
            sheet_id: <sheet id>
            report_form: <google forms url>
            rules: <url>
