html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.xw-body {
    background-color: #343a40;
}

.xw-content {
    flex: 1 0 auto;
}

.winner-link {
    font-weight: bold;
}
