<!DOCTYPE html>
<html>
    <head>
        <title>X-Wing</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="/xwing/css/style.css" />
    </head>
    <body class="xw-body">
        <div class="container xw-content">
            <div class="row">
                <div class="col-lg-6">
                    {% for year, league_numbers in leagues %}
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                              <th scope="col">{{ year }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for league_number, league_info in league_numbers %}
                                <tr>
                                    <th scope="row"> {{ league_number }} </th>
                                    <td>
                                        {{ league_info.name }}
                                    </td>
                                    <td>
                                        <a href="{{ year }}/{{ league_number }}">Scoreboard</a>
                                    </td>
                                    <td>
                                        <a href="{{ league_info.report_form }}">Matchformulär</a>
                                    </td>
                                    <td>
                                        <a href="{{ league_info.rules }}">Regler</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted text-right">Om något verkar konstigt, <a href="mailto:arvid.boivie+xwing@gmail.com">kontakta mig</a>. Source on <a href="https://github.com/arvidboivie/xw-league-viewer">Github</a>.</p>
            </div>
        </footer>
    </body>
</html>
