<!DOCTYPE html>
<html>
    <head>
        <title>X-Wing</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body style="background-color: #343a40;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {% for year, league_numbers in leagues %}
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                              <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for league in league_numbers|keys %}
                                <tr>
                                    <th scope="row"> {{ league }} </th>
                                    <td>
                                        <a href="/results/{{ year }}/{{ league }}">Scoreboard</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                </div>
            </div>

        </div>
    </body>
</html>
